@import url("/css/table.css");

#content_header {
	padding-top: 5px;
	padding-bottom: 5px;
	width:80%;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
}

#searchOptions {
	white-space: nowrap
}

#searchTitle {
	float: left;
}

#navigation {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
}

#nav_newer {
	float: left;
}

#nav_older {
	float: right;
}

#pageCount {
	text-align: center;
}

.imageIcon {
	float: left;
	height: 15px;
}